name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm install
      - run: npm run ci:github-release

        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.gh_token}}
